.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    outline: solid red;   
}
h1{
    font-size: 25px;
    color: rgb(31, 123, 228);
   
    
}
.input-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.title{
    text-align: center;
    width: 250px;
    height: 25px;
    border-radius: 5px;
}
.messageError{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}
.btn-add{
    background-color: rgb(31, 123, 228);
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
.btn-add:disabled{
    opacity: 0.6;
}

.tasks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:60px;
    outline: solid blue;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    
    margin-bottom: 20px;
}
.listTasks{
     background-color:rgba(245, 245, 220, 0.968);
     width: 100%;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgb(31, 123, 228);
     display: flex;
     align-items: flex-start;
}
.listTasks input:checked{
    background-color: rgb(31, 123, 228);
    border-radius: 2px;
}
.checkbox{
    margin-right: 30px;
    width: 18px;
    height: 18px;
}



span{
    flex: 1;
    color: rgb(31, 123, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    padding: 6px;
}
.btn-delete{
    width:80px;
    height: 25px;
    margin-left: auto;
    margin-top: 5px;   
    background-color: rgb(31, 123, 228);
    color: white;
    border: none;
    border-radius: 5px;
    

}
.isComplete{
    text-decoration: line-through;
    color: rgb(31, 123, 228);
}
.tasksPending{
    border: 1.5px solid rgb(171, 170, 170);
    border-radius: 5px;
    width: 250px;
    height: 20px;
    padding: 8px;
    
}